<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labour.dao.CompanyDao">

	<select id="selectOneCompany" resultType="com.labour.entity.Company" parameterType="java.lang.String">
		select company_id, company_full_name, company_name, company_size, contact, contact_phone, contact_position, province_code, province_name, city_code, city_name,
		county_code, county_name, address, company_profile, company_business_license, company_logo, company_pic, company_type_id, company_type_name, parentId, create_time, update_time FROM company
		where company_id=#{company_id};
	</select>

	<insert id="insertOneCompany" parameterType="java.lang.String">
		INSERT INTO company (company_full_name, company_name, company_size, contact, contact_phone, contact_position, province_code, province_name, city_code, city_name, county_code, county_name, address, company_profile, company_business_license, company_logo, company_pic, company_type_id, company_type_name, parentId)
		VALUES (#{company_full_name}, #{company_name}, #{company_size}, #{contact}, #{contact_phone}, #{contact_position}, #{province_code}, #{province_name}, #{city_code}, #{city_name}, #{county_code}, #{county_name}, #{address}, #{company_profile}, #{company_business_license}, #{company_logo}, #{company_pic}, #{company_type_id}, #{company_type_name}, #{parentId});
	</insert>

	<select id="selectCompanyByFactor" resultType="com.labour.entity.Company" parameterType="java.lang.String">
		SELECT company_id, company_full_name, company_name, company_size, contact, contact_phone, contact_position, province_code, province_name, city_code, city_name,
		county_code, county_name, address, company_profile, company_business_license, company_logo, company_pic, company_type_id, company_type_name, parentId, create_time, update_time FROM company
		<where>
			<if test=" company_full_name !=null and company_full_name !='' ">
				and company_full_name = #{company_full_name}
			</if>
			<if test=" company_id !=null and company_id !='' ">
				and company_id = #{company_id}
			</if>
			<if test=" contact !=null and contact !='' ">
				and contact = #{contact}
			</if>
			<if test=" city_code !=null and city_code !='' ">
				and city_code = #{city_code}
			</if>
			<if test=" parentId !=null and parentId !='' ">
				and parentId = #{parentId}
			</if>
		</where>
		LIMIT #{star_num},#{pageSize}
	</select>

	<select id="selectCountByFactor" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT count(*) FROM company
		<where>
			<if test=" company_full_name !=null and company_full_name !='' ">
				and company_full_name = #{company_full_name}
			</if>
			<if test=" company_id !=null and company_id !='' ">
				and company_id = #{company_id}
			</if>
			<if test=" contact !=null and contact !='' ">
				and contact = #{contact}
			</if>
			<if test=" city_code !=null and city_code !='' ">
				and city_code = #{city_code}
			</if>
			<if test=" parentId !=null and parentId !='' ">
				and parentId = #{parentId}
			</if>
		</where>
	</select>

	<update id="updateOneCompany" parameterType="java.lang.String">
		UPDATE company
		<trim prefix="set" suffixOverrides=",">
			<if test=" company_full_name !=null and company_full_name !='' ">
				company_full_name = #{company_full_name},
			</if>
			<if test=" company_name !=null and company_name !='' ">
				company_name = #{company_name},
			</if>
			<if test=" company_size !=null and company_size !='' ">
				company_size = #{company_size},
			</if>
			<if test=" contact !=null and contact !='' ">
				contact = #{contact},
			</if>
			<if test=" contact_phone !=null and contact_phone !='' ">
				contact_phone = #{contact_phone},
			</if>
			<if test=" contact_position !=null and contact_position !='' ">
				contact_position = #{contact_position},
			</if>
			<if test=" province_code !=null and province_code !='' ">
				province_code = #{province_code},
			</if>
			<if test=" province_name !=null and province_name !='' ">
				province_name = #{province_name},
			</if>
			<if test=" city_code !=null and city_code !='' ">
				city_code = #{city_code},
			</if>
			<if test=" city_name !=null and city_name !='' ">
				city_name = #{city_name},
			</if>
			<if test=" county_code !=null and county_code !='' ">
				county_code = #{county_code},
			</if>
			<if test=" county_name !=null and county_name !='' ">
				county_name = #{county_name},
			</if>
			<if test=" address !=null and address !='' ">
				address = #{address},
			</if>
			<if test=" company_profile !=null and company_profile !='' ">
				company_profile = #{company_profile},
			</if>
			<if test=" company_business_license !=null and company_business_license !='' ">
				company_business_license = #{company_business_license},
			</if>
			<if test=" company_logo !=null and company_logo !='' ">
				company_logo = #{company_logo},
			</if>
			<if test=" company_pic !=null and company_pic !='' ">
				company_pic = #{company_pic},
			</if>
			<if test=" company_type_id !=null and company_type_id !='' ">
				company_type_id = #{company_type_id},
			</if>
			<if test=" company_type_name !=null and company_type_name !='' ">
				company_type_name = #{company_type_name},
			</if>
			<if test=" parentId !=null and parentId !='' ">
				parentId = #{parentId},
			</if>
		</trim>
		WHERE company_id = #{company_id}
	</update>

	<select id="selectThirdParty" parameterType="java.lang.String" resultType="com.labour.entity.Company">
		SELECT company_id, company_full_name, company_type_id, company_type_name, parentId from company
		WHERE company_type_id = #{company_type_id} AND parentId = #{parentId}
	</select>

</mapper>